{% extends "base.html" %}
{% block start %}
    <title>Header_footer</title>
</head>
<body>
    <header style="background-color: rgb(255, 9, 255);">
        <h1> Welcome to sasti website </h1>
        <a href="">Home</a>
        <a href="">Shop</a>
        <a href="">Contect us</a>
        <a href="">About us</a>
        <br>
        <hr>
    </header>


    <main>
        <h2>check some cool thinks :-</h2>
        <img src="images.jpg" alt="old days bro">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Error magni sed quae accusamus ab aut sunt dolor officiis 
            blanditiis . Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illum modi earum molestiae culpa, quisquam debitis delectus est blanditiis asperiores quas nobis expedita reprehenderit repudiandae animi id repellendus, accusantium recusandae impedit officia? Eos obcaecati similique deleniti repudiandae repellat adipisci, nesciunt quas quibusdam vitae quam esse ratione iste repellendus explicabo, blanditiis at?</rem></p>
    </main>

    <footer style="background-color: rgb(252, 2, 227);">
        <hr>
        Author :- Kitretsu <br>
        &copy; copyright reserved <br>
        <small><a href="mailto:xyz@gmail.com">Email me</a></small>
    </footer>
</body>
</html>