<!DOCTYPE html>
<html>
    <title>Hyper links</title>
    <body>
        <a href="http://127.0.0.1:5500/lyrics.html"
            title="goes to music"
            target="_blank" >
            song by me
            
        </a>
        <br>
        <a href="https://www.google.com/"
            title="goes to google"
            target="_blank" >
            click me
            
        </a>
    </body>
</html>
<br>
<a href="https://codeforces.com/"
title="time pass"
target="_blank">
    click mujhe
</a>